---
layout: home
---
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  Hi, I'm Firdaus. I'm a software engineer based in Putrajaya, Malaysia. I currently work at Intel where I focus on cloud infrastructure, validation automation, and AI integrations.
</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  However, this little corner of the internet isn't a resume—it's a personal space where I share my thoughts, reflections on life and faith, and technical explorations. My hope is that something you read here might benefit you in some way.
</p>
